<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <form action="/todos" method="POST">
        <input name="newtodoitem">
        <input type="submit">
    </form>
    <ul>
        {{#each todos as |t|}}
            <li>{{t.task}}</li>
        {{/each}}
    </ul>
</body>
</html>